
/* Estilos generales para pantallas más grandes */
body {
  font-size: 16px;
  line-height: 1.6;
}

/* Media Query para pantallas de 768px o menos */







/*PC ARMADAS*/

.body-pc{
    background-image: url("../assets/img/fondo.jpg") ;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
}
.titulo-pc{
background-color: rgb(255, 230, 0);
font-size: 30px;
}
.header-div-pc{
    display: flex;
    justify-content: right;
    gap: 100px;
}
.header-div-logo-pc{
    display: flex;
    justify-items: right;
    align-items: end;
    width: 50%;
    height: auto;
}
.header-div-h1-pc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: guarito-fonts;
    font-size: 150px;
    color: rgb(223, 61, 235);
}
.header-div-buscar-pc{
    display: flex;
    justify-content: end;
    align-items: end;
    list-style: none;
    text-decoration: none;
}
.header-div-buscar-ul-pc{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    list-style: none;
    text-decoration: none;    
    font-size: 40px;
}
.navbar-pc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
    background-color: grey;
    font-style: bold;
}
.nav-navbar-li-a-pc{
    flex-direction: row;
    list-style: none;
    text-decoration: none;   
    font-size: 30px;
    color: rgb(32, 194, 191);
    text-align: center;
}
.footer-pc{
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 155, 155, 0.885);
    font-size: 20px;
    color: whitesmoke;
    gap: 100px;
}