$background-hf: rgba(158, 155, 155, 0.885);
$color-text-principal: rgb(223, 61, 235);
$color-text-titulo: rgba(90, 161, 166, 1);
$color-text-titulo2: rgba(184, 136, 136, 1);
$color-text-titulopc: rgba(216, 208, 30, 1);
$color-fondopc: rgba(122, 187, 99, 1)