.footer{
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 155, 155, 0.885);
    font-size: 20px;
    color: whitesmoke;
    gap: 100px;
}