.titulos1-pc{
    display: flex;
    justify-content: space-between;
    .tituloprincipal-pc{
        color: #b603b6;
        font-style: italic;
        font-weight: extra bold;
        &:hover{
            color: whitesmoke;
        }
    }
    .guarito-pc div h1 {
        font-size: 100px;
        margin-left: 20px;
        margin-top: 25px; 
    }
    .guarito-pc {
        margin: 20px;
        display: flex;
        flex-direction: row;
    }
    .guarito-pc img {
        width: 100px;
        border-radius: 50%;
        margin-top: 40px;
    }
}
.search-pc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 90px;
    gap: 5px; 
    .login-pc{
        font-size: 25px;
        color: #b603b6;
        text-decoration: none;
    }
    .carrito-pc{
        width: 100px;
        height: auto;
        padding-top: 10px;
    }
}
.barra-pc{
    width: 20px;
    height: 10px;
    margin-top: 0px;
}
