@media (max-width:768px){
    .headerpc{
        background-color: aquamarine;
        justify-content: space-around;
        .titulos1-pc{
            .tituloprincipal-pc{
            color: white;
            font-style: normal;
            font-size: 70px;
            &:hover{
                color: red;
            }
            }
            .guarito-pc img {
                width: 60px;
                border-radius: 50%;        
            }
        }
    }
    .barrapc{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .mainpc{
        .titulopcarm{
            display: flex;
            justify-content: center;
            font-size: 40px;
            color: rgba(255, 255, 255, 0.394);
            text-shadow: 20px 10px 5px rgb(14, 224, 56);
        }
        .gridpc{
            display: flexbox;
            flex-wrap: wrap;
        }
    }
    .footerpc{
        display: flex;
        flex-direction: space-around;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        font-size: 10px;
        color: rgb(86, 22, 120);
        gap: 70px;
        .img{
            width: 10px;
        }
    }
}