.navbarpc {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
        list-style: none;
        font-style: bold;
        li a {
            flex-direction: row;
            list-style: none;
            text-decoration: none;
            font-size: 40px;
            color: rgb(32, 194, 191);
            text-align: center;
            }
    }
}